@page
@model EAP_WS1.Pages.greetingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>greeting</title>
</head>
<body>
    <p> The contents of message: @Model.message </p>
</body>
</html>
