@page
@model EAP_WS1.Pages.WS1bModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WS1b</title>
</head>
<body>
    <form method="post">
        <label for="number1">Number 1 </label>
        <input id="number1" type="number" name="number1" />
        <br />
        <label for="number2">Number 2 </label>
        <input id="number2" type="number" name="number2" />
        <br />
        <label for="operation" name="operator">Type of operation to perform</label>
        <br />
        <select id="operation" name="operator" size="4">
            <option value="Add">Add</option>
            <option value="Subtract">Subtract</option>
            <option value="Multiply">Multiply</option>
            <option value="Divide">Divide</option>
        </select>
        <br />
        <button type="submit">Enter</button>
    </form>
    <h2>@Model.message</h2>
</body>
</html>

